extends ../master-layout.jade

block stylesheets
  link(rel='stylesheet', href='/public/vendors/angular-material/angular-material.min.css')
  link(rel='stylesheet', href='/public/css/style.css')
  
block pre-scripts
  script(type='text/javascript', src='/public/vendors/angular/angular.min.js')
  script(type='text/javascript', src='/public/vendors/angular-material/angular-material.min.js')
  script(type='text/javascript', src='/public/vendors/angular-aria/angular-aria.min.js')
  script(type='text/javascript', src='/public/vendors/angular-animate/angular-animate.min.js')

block content
  
  