extends ../master-layout-angular.jade

block content-angular
  h2 User Registration
  div(ng-controller="UserRegistrationCtrl" layour="column" class=['content-center'])
    md-input-container
      label Email
      input(ng-model="use.email")
      
      
    div hello world
    div {{user.email}}