mixin login-form
  p Please login to your account.
  form(method='post', action='/login')
    .form-group
      label(for='accountInput') Account
      input.form-control(type='text', id='usernameInput', name='username', required)
    .form-group
      label(for='passwordInput') Password
      input.form-control(type='password', id='passwordInput', name='password', required)
    if (error !== null)  
      p.error-message!= error  
    .container-center.space-around
      button(type='submit', class='btn btn-primary') Submit      
      .checkbox
        label
          input(type='checkbox',checked) 
          | Remember Me

extends ../master-layout.jade

block stylesheets
  link(rel='stylesheet', href='/public/vendors/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/public/css/style.css')

block content
  div(class=['container-fluid', 'vertical-full', 'container-center', 'login-panel', 'flow-column', 'flow-left'], layout="column")
    div(class='h-10') 
    .panel(class=['panel-info', 'center-block'])
      .panel-heading Welcome to #{title}!        
      .panel-body
        +login-form
      .panel-footer
        .container-center.space-around
          a(href='/reset-password') Forgot Your Password?
          a(href='/registration') Create An Account
