.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    &.space-around {
        justify-content: space-around;
    }
}
.vertical-full {
    height: 100%;
}

.content-center {
  width: 980px;
  margin-left: auto;
  margin-right: auto;  
}

.justify-phone-input {
    label {
        transform: translate3d(0, -38px, 0) scale(.75) !important;
    }


}
