.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    &.space-around {
        justify-content: space-around;
    }
}
.vertical-full {
    height: 100%;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.content-center {
    @extend .h-center;
    width: 980px;
}

.content-center-md {
    @extend .h-center;
    width: 640px;
}

