extends ./master-layout.jade

block stylesheets
  link(rel='stylesheet', href='/public/vendors/bootstrap/dist/css/bootstrap.min.css')

block content
  div(class='container-fluid')
    .panel(class=['panel-info', 'center-block', 'col-md-4'])
      .panel-heading Password Login
      .panel-body
        div
          label(for='account') Account
          input#account(type='text', placeholder='account name')
        div
          label(for='password') Password
          input#password(type='password', placeholder='password')
        div
          input(type='submit') 
