.login-panel {
    background-color: lightslategrey;

    .panel {        
        margin-top: -8%;
        width: 400px;
        .btn {
            width: 150px;        
        }
        p.error-message {
            color: $warning;
            font-style: italic;
            padding: 0 10px;
        }
    }
}
